<!-- <!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
   Add your CSS stylesheets and other meta tags here 
</head>
<body>
  <h1>Admin Login</h1>
  <form action="/admin/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
  </form>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
  <title>Admin Login</title>
  <link rel="icon" type="image/png" href="http://cet-gov.ac.in/web/libs/img/logo.png">
  <!-- Add your CSS stylesheets and other meta tags here -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

  <div class="logos">
    <img id="logo" src="http://cet-gov.ac.in/web/libs/img/logo.png" alt="" />
    <img id="cetLogo" src="http://cet-gov.ac.in/web/libs/img/CET_logo.png" alt="" />
  </div> 

  <a href="/">Go Back</a>

  <div>
    <div class="deptName" id="home">
      <h1 id="cse">Computer Science and Engineering</h1>
    </div>
  </div>

  <div class="login">
    <h1>Admin Login</h1>
    <form action="/admin/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>

    <button id="loginBtn" type="submit">Login</button>
    <br><br>
  </div>
  </form>

  <!-- Footer -->
  <footer>
    <p>
      © 2023 Computer Science and Engineering Department, Harshit Kumar Verma.
    </p>
  </footer>

</body>
</html>
